asgiref==3.3.1
attrs==20.3.0
Automat==20.2.0
constantly==15.1.0
Django==3.1.5
django-debug-toolbar==3.2
django-ranged-fileresponse==0.1.2
et-xmlfile==1.0.1
hyperlink==21.0.0
idna==3.1
incremental==17.5.0
jdcal==1.4.1
mod-wsgi==4.7.1
mutagen==1.45.1
openpyxl==3.0.6
Pillow==8.1.0
psycopg2==2.8.6
PyHamcrest==2.0.2
pytz==2020.5
six==1.15.0
sqlparse==0.4.1
stagger==1.0.0
Twisted==20.3.0
zope.interface==5.2.0