{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kikify</title>
    <script src="{% static 'artists.js' %}"></script>
    <link rel="stylesheet" type='text/css' href="{% static 'artists.css' %}"/>
    <link rel="stylesheet" type='text/css' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        window.onload = function() {
            for(let elem of document.getElementsByClassName('link')) {
                elem.href = `${location.protocol}//${location.host}/artist/${elem.id}/albums`
            }
        };
    </script>
</head>
<body>
<div class="artists-container">
        {% for artist in artists %}
            <a id={{ artist.id }} class="link">
                <h2 class="artist-name">{{ artist.name }}</h2>
            </a>
        {% endfor %}
</div>

{% include "kikify/htmls/player.html" %}

</body>
</html>
