{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>KIKIFY - login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'kikify/htmls/imports_login.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
    <script src="{% static 'js/register.js' %}"></script>
</head>
<body>
<div class="container-login100">
    <div class="wrap-login100 p-t-0 p-b-30">
        <div class="limiter">
            <span class="login100-form-title p-b-40">
                Registration
			</span>

            <span class="login100-form-avatar">
			    <img src="{% static 'favicon.svg' %}" alt="AVATAR">
			</span>

            <span class="login100-form-title p-t-20 p-b-20">
				KIKIFY
			</span>

            <form class="login100-form validate-form p-t-50" method="get" action="{% url 'register_user' %}">
                {% csrf_token %}
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        <i class="fas fa-user p-r-15"></i> Register user account
                    </button>
                </div>
            </form>

            <form class="login100-form validate-form p-t-20" method="get" action="{% url 'register_record_label' %}">
                <div class="container-login100-form-btn">
                    {% csrf_token %}
                    <button class="login100-form-btn">
                        <i class="fas fa-guitar p-r-15"></i> Register record label account
                    </button>
                </div>
            </form>

        </div>

    </div>
</div>
</body>
</html>