{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>KIKIFY - login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'kikify/htmls/imports_login.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form" method="post" action="{% url 'reset_password' %}">
                {% csrf_token %}
                <span class="login100-form-title p-b-60">
						Welcome
					</span>

                <span class="login100-form-avatar">
						<img src="{% static 'favicon.svg' %}" alt="AVATAR">
					</span>

                <span class="login100-form-title p-t-20 p-b-10">
						KIKIFY
					</span>

                <div class="wrap-input100 validate-input m-t-65 m-b-30" data-validate="Enter email">
                    <input class="input100 {% if username %}has-val{% endif %}" type="text" name="email"
                           value="">
                    <span id="emailSpan" class="focus-input100" data-placeholder="Email"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Send verification mail
                    </button>
                </div>


                {% if not email_exists %}
                    <div class="m-b-8 login-more p-t-60 text-center">
                        <span class="txt1" style="color:red">
                            Email does not exists.
                        </span>
                    </div>
                {% elif successful %}
                    <div class="m-b-8 login-more p-t-60 text-center">
                        <span class="txt1" style="color:green">
                            Link for reseting password has been sent successfully.
                        </span>
                    </div>
                {% else %}
                    <div class="m-b-8 login-more p-t-60 text-center">
                        <span class="txt1" style="color:green">
                            {{ message }}
                        </span>
                    </div>
                {% endif %}
                {#                <ul class="login-more p-t-100">#}
                {#                    <li class="m-b-8">#}
                {#							<span class="txt1 fs-18">#}
                {#								Forgot#}
                {#							</span>#}
                {##}
                {#                        <a href="{% url 'fo' %}" class="txt2">#}
                {#                            Username / Password?#}
                {#                        </a>#}
                {#                    </li>#}
                {##}
                {#                    <li>#}
                {#							<span class="txt1">#}
                {#								Don’t have an account?#}
                {#							</span>#}
                {##}
                {#                        <a href="{% url 'register_user' %}" class="txt2">#}
                {#                            Sign up#}
                {#                        </a>#}
                {#                    </li>#}
                {#                </ul>#}
            </form>
        </div>
    </div>
</div>

<div id="dropDownSelect1"></div>
</body>
</html>