.player {
    background: #f8f9fa;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 170px;
    text-align: center;
}

.player > div p {
    width: 100%;
    text-align: center;
    align-content: center;
}

.player > audio {
    width: 50%;
    align-content: center;
}

.controls-box {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}

.control-item {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.control-item-small {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 10px 10px;
}

.control-item:hover {
    filter: invert(75%) sepia(8%) saturate(3403%) hue-rotate(63deg) brightness(83%) contrast(87%);
    box-shadow: 0 10px 30px 0 black;
    border-radius: 35px;
    box-sizing: content-box;
}

.control-item-small:hover {
    filter: invert(75%) sepia(8%) saturate(3403%) hue-rotate(63deg) brightness(83%) contrast(87%);
    box-shadow: 0 10px 30px 0 black;
    border-radius: 25px;
}

.audio-player {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.audio-player .timeline {
    background: white;
    width: 50%;
    height: 25px;
    padding: 0;
    margin: 0;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 10px 0 #000;
}

.audio-player .timeline .progress {
    background: #57b846;
    width: 0;
    height: 25px;
    transition: 0.25s;
}

.audio-player .time {
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.audio-player .time > * {
    padding: 2px;
}

.audio-player .volume-container-wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.audio-player .volume-container {
    min-width: 150px;
    margin-top: 8px;
    margin-left: 10px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 1000000;
}


.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


.first-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 100%;
    height: 30px;
}

.shuffle-disabled {
    background-color: transparent;
    color: black;
}

.shuffle-enabled {
    background-color: #4cd74e;
    font-size: 120%;
    color: black;
    padding: 20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

#song-info {
    box-sizing: border-box;
    text-align: center;
    flex-direction: row;
    width: 100%;
    overflow: auto;
}

@media only screen and (max-width: 900px) {
    #song-info {
    box-sizing: border-box;
    text-align: center;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    }

    #song-info > div {
        text-align: center;
        width: 100%;
        height: 20px;
        white-space: nowrap;
        overflow: scroll;
        overflow-scrolling: touch;
        scroll-margin-top: 5px;
        text-overflow: fade;
    }
}
