.song-container {
}

.song-container * {
    box-sizing: border-box;
}

.song-container .header-icons {
    position: relative; top:0; right:0;
    text-align: right;
}

.song-container .footer-icons {
    position: relative; bottom:0; right:0;
    text-align: center;
}

.song-container .header-icons .fas {
    font-size: 110%;
}

.song-container .header-icons .fa-trash-alt {
    color: red;
}

.song-container .header-icons .fa-edit {
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.song-container .footer-icons .fa-download {
    color: dodgerblue;
}