{% block albums %}
    {% load custom_filters %}
    <div>
        {% if artist %}
            <h1>{{ album.artist.first.name }}</h1><br>
        {% endif %}
        <div class="albums-container">
            {% for album in albums %}
                <div id="{{ album.id }}" class="album-container">
                    <div class="header-icons">
                        <a href="{% url 'getAlbumById' album.id %}" download="{{ artist.name | add:" - " | add:album.name | add:".zip" | lower }}"><i
                                class="fas fa-download"></i></a>
                        {% if not isUser or isSuperuser %}
                            <a href="javascript:deleteAlbum(`{% url 'deleteAlbum' album.id %}`, '{{ album.name }}', '{{ album.id }}')"><i
                                    class="fas fa-trash-alt"></i></a>
                            <a data-toggle="modal" data-target="#editAlbumModal" data-content="{{ album.id }}" {#href="javascript:editAlbum(`{% url 'editAlbum' album.id %}`, '{{ album.name }}', '{{ album.id }}')"#}><i class="fas fa-edit"></i></a>
                        {% endif %}
                    </div>
                    {% if not artist %}
                        <h6 onclick="openArtist(`{% url 'albumsOfArtist' album.artist.first.id %}`, {{ album.artist.first.id }}, {% if isUser %}false{% else %}true{% endif %})">{{ album.artist.first.name }}</h6>
                        <img class="album-art"
                             src="data:image/png;base64,{{ album.picture |  bytesToString }}"
                             onclick="openAlbum(`{% url 'songsOfAlbum' album.artist.first.id album.id %}`,{{ album.artist.first.id }},{{ album.id }}, {% if isUser %}false{% else %}true{% endif %})"
                             alt="No photo"><br>
                        <h4 onclick="openAlbum(`{% url 'songsOfAlbum' album.artist.first.id album.id %}`,{{ album.artist.first.id }},{{ album.id }}, {% if isUser %}false{% else %}true{% endif %})"
                            class="album-name">{{ album.name }}</h4>
                    {% else %}
                        <img class="album-art"
                             src="data:image/png;base64,{{ album.picture |  bytesToString }}"
                             onclick="openAlbum(`{% url 'songsOfAlbum' album.artist.first.id album.id %}`,{{ album.artist.first.id }},{{ album.id }}, {% if isUser %}false{% else %}true{% endif %})"
                             alt="No photo"><br>
                        <h4 onclick="openAlbum(`{% url 'songsOfAlbum' artist.id album.id %}`,{{ artist.id }},{{ album.id }}, {% if isUser %}false{% else %}true{% endif %})"
                            class="album-name">{{ album.name }}</h4>
                    {% endif %}
                    <a class="albumJSON"
                       hidden>{"id":"{{ album.id }}","name":"{{ album.name }}","artist":"{{ album.artist.first.name }}",
                        "year":"{{ album.year_of_production }}"}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}