{% block albums %}
    {% load static %}
    <div id='container' class="artists-container">
        {% for artist in artists %}
            <div id="{{ artist.id }}" class="artist-container">
                <div class="header-icons">
                    <a href="{% url 'getArtistById' artist.id %}"
                       download="{{ artist.name | add:".zip" | lower }}"><i
                            class="fas fa-download"></i></a>
                    {% if not isUser %}
                        <a href="javascript:deleteArtist(`{% url 'deleteArtist' artist.id %}`, '{{ artist.name }}', '{{ artist.id }}')"><i
                                class="fas fa-trash-alt"></i></a>
                        <a data-toggle="modal" data-target="#editArtistModal" data-content="{{ artist.id }}" {#href="javascript:editArtist(`{% url 'editArtist' artist.id %}`, '{{ artist.name }}', '{{ artist.id }}')"#}><i class="fas fa-edit"></i></a>
                    {% endif %}
                </div>
                <img class="artist-art" src='{% static "artist-512.png" %}'
                     onclick="openArtist(`{% url 'albumsOfArtist' artist.id %}`, {{ artist.id }}, {% if isUser %}false{% else %}true{% endif %})"
                     alt="">
                <p class="artist-name"
                   onclick="openArtist(`{% url 'albumsOfArtist' artist.id %}`, {{ artist.id }}, {% if isUser %}false{% else %}true{% endif %})">{{ artist.name }}</p>
                <a class="artistJSON" hidden>{"id":"{{ artist.id }}","name":"{{ artist.name }}"}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}


