{% load static %}
{% block sidebar %}
    {% load custom_filters %}
    <div class="bg-light border-right" id="sidebar-wrapper">
        {#    <div class="sidebar-heading">KIKIFY</div>#}
        <div class="links list-group m-0" style="margin: 0">
            <div class="card">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1559285236/profile-bg.jpg"
                     alt="Card image cap">
                <div class="card-body little-profile text-center">
                    <div class="pro-img">
                        {% if user_image %}
                            <img class="album-art"
                                 src="data:image/jpg;base64,{{ user_image }}"
                                 alt="No photo"><br>
                        {% else %}
                            <img class="album-art"
                                 src="{% static "user.png" %}"
                                 alt="No photo"><br>
                        {% endif %}
                        <br>
                        {% if isUser %}
                            <p class="m-b-0">{{ firstname }} {{ secondname }}</p>
                            <h3 class="m-b-0">{{ username }}</h3>
                        {% else %}
                            <h2 class="m-b-0">{{ name }}</h2>
                            <h3 class="m-b-0">{{ username }}</h3>
                        {% endif %}

                    </div>
                </div>

            </div>
            <div class="py-3"></div>
            <a href="javascript:openArtists('{% url 'artists' %}', {% if isUser %}false{% else %}true{% endif %})"
               class="list-group-item list-group-item-action bg-light">Artists</a>
            <a href="javascript:openAlbums('{% url 'albums' %}', {% if isUser %}false{% else %}true{% endif %})"
               class="list-group-item list-group-item-action bg-light">Albums</a>
            <a href="javascript:openSongs('{% url 'songs' %}', {% if isUser %}false{% else %}true{% endif %})"
               class="list-group-item list-group-item-action bg-light">Songs</a>
        </div>
    </div>
{% endblock %}