{% load custom_filters %}
<div class="songs-container">
    {% for song in songs %}
        <div class="song-container">
            <h5 class="artist-name">{{ song.album.artist.first.name }}</h5>
            <p>{{ album.name }}</p>
            <p>{{ song.year_of_production }}</p>
            <img class="album-art"
                 src="data:image/png;base64,{{ song.album.picture |  bytesToString }}"
                 onclick="playSong(`{% url 'getSongById' song.id %}`, `{{ song.name }}`, `{{ song.album.name }}`, `{{ song.album.artist.first.name }}`)" alt="No photo"><br>
            <a href="javascript:playSong(`{% url 'getSongById' song.id %}`, `{{ song.name }}`, `{{ song.album.name }})`, `{{ song.album.artist.first.name }}`)">{{ song.name }}</a>
        </div>
    {% endfor %}
</div>