{% block subheader %}
    <div class="poput-form">
        <nav class="hd navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="hamburger navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#subheader"
                    aria-controls="subheader" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div>
                <a href="javascript:back()" class="list-group-item list-group-item-action bg-light w-100"><i
                        class="fas fa-arrow-circle-left"></i> Back</a>
            </div>
            {% if isUser %}
                <div class="collapse navbar-collapse" id="subheader">
                    <ul class="list navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown" style="width: initial">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-sort-amount-down-alt"></i> Sort by
                            </a>
                            <div id="sort_a" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:sortSongs('title')"><i
                                        class="fas fa-text-height"></i> Title</a>
                                <a class="dropdown-item" href="javascript:sortSongs('album')"><i
                                        class="fas fa-compact-disc"></i> Album</a>
                                <a class="dropdown-item" href="javascript:sortSongs('artist')"><i
                                        class="fas fa-user-alt"></i> Artist</a>
                                <a class="dropdown-item" href="javascript:sortSongs('year')"><i
                                        class="fas fa-sort-numeric-down"></i> Year</a>
                            </div>
                        </li>
                        <div class="px-2"></div>

                        <div class="input-group mr-auto md-form form-sm form-2 pl-0" style="width: initial">
                            <input id="searchBar" class="form-control my-0 py-1 lime-border" type="text"
                                   onkeyup="search_input(event)" placeholder="Search"
                                   aria-label="Search">
                            <div class="input-group-append ">
                        <span class="input-group-text blue lighten-2 btn btn-gray" id="searchButton"
                              onclick="search(event)">
                            <i class="fas fa-search text-grey" aria-hidden="true"></i>
                        </span>
                            </div>
                        </div>
                    </ul>
                </div>
            {% else %}
                <div class="collapse navbar-collapse" id="subheader">
                    <ul class="list navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-cloud-upload-alt"></i> Upload new...
                            </a>
                            <div id="sort_a" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item open-button" href="javascript:openForm()"><i
                                        class="fas fa-music"></i> Song</a>
                                <a class="dropdown-item" href="javascript:sortSongs('album')"><i
                                        class="fas fa-record-vinyl"></i> Album</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-sort-amount-down-alt"></i> Sort by
                            </a>
                            <div id="sort_a" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="javascript:sortSongs('title')"><i
                                        class="fas fa-text-height"></i> Title</a>
                                <a class="dropdown-item" href="javascript:sortSongs('album')"><i
                                        class="fas fa-compact-disc"></i> Album</a>
                                <a class="dropdown-item" href="javascript:sortSongs('artist')"><i
                                        class="fas fa-user-alt"></i> Artist</a>
                                <a class="dropdown-item" href="javascript:sortSongs('year')"><i
                                        class="fas fa-sort-numeric-down"></i> Year</a>
                            </div>
                        </li>
                        <div class="px-2"></div>

                        <div class="input-group m-auto md-form form-sm form-2 pl-0" style="width: initial">
                            <input id="searchBar" class="form-control my-0 py-1 lime-border" type="text"
                                   onkeyup="search_input(event)" placeholder="Search"
                                   aria-label="Search">
                            <div class="input-group-append ">
                                <span class="input-group-text blue lighten-2 btn btn-gray" id="searchButton"
                                      onclick="search(event)">
                                    <i class="fas fa-search text-grey" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </ul>
                </div>
            {% endif %}
        </nav>
        {% include 'kikify/components/edit_profile_modal.html' %}
        {% include 'kikify/components/change_password_modal.html' %}
        {% if not isUser %}
            {% include 'kikify/components/upload_form.html' %}
            {% include 'kikify/components/edit_song_modal.html' %}
            {% include 'kikify/components/edit_album_modal.html' %}
            {% include 'kikify/components/edit_artist_modal.html' %}
        {% endif %}
    </div>
{% endblock %}
